<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maimieng.mapper.MpcTaskUserRelMapper">
  <resultMap id="BaseResultMap" type="com.maimieng.model.MpcTaskUserRel">
    <result column="task_id" jdbcType="INTEGER" property="task_id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
  </resultMap>
  <insert id="insert" parameterType="com.maimieng.model.MpcTaskUserRel">
    insert into mpc_task_user_rel (task_id, user_id)
    values (#{task_id,jdbcType=INTEGER}, #{user_id,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select task_id, user_id
    from mpc_task_user_rel
  </select>
</mapper>