<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maimieng.mapper.SecOrgRoleMapper">
  <resultMap id="BaseResultMap" type="com.maimieng.model.SecOrgRole">
    <id column="org_id" jdbcType="INTEGER" property="org_id" />
    <id column="role_id" jdbcType="INTEGER" property="role_id" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from sec_org_role
    where org_id = #{org_id,jdbcType=INTEGER}
      and role_id = #{role_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.maimieng.model.SecOrgRole">
    insert into sec_org_role (org_id, role_id)
    values (#{org_id,jdbcType=INTEGER}, #{role_id,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select org_id, role_id
    from sec_org_role
  </select>
</mapper>