<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzix.jungle.exchange.dao.InvestorDepositAddressMapper">
  <resultMap id="BaseResultMap" type="com.juzix.jungle.exchange.entity.InvestorDepositAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="investor_code" jdbcType="VARCHAR" property="investorCode" />
    <result column="coin" jdbcType="VARCHAR" property="coin" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from investor_deposit_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzix.jungle.exchange.entity.InvestorDepositAddress">
    insert into investor_deposit_address (id, investor_code, coin, 
      address)
    values (#{id,jdbcType=INTEGER}, #{investorCode,jdbcType=VARCHAR}, #{coin,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juzix.jungle.exchange.entity.InvestorDepositAddress">
    update investor_deposit_address
    set investor_code = #{investorCode,jdbcType=VARCHAR},
      coin = #{coin,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, investor_code, coin, address
    from investor_deposit_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, investor_code, coin, address
    from investor_deposit_address
  </select>
</mapper>