<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzix.jungle.exchange.dao.MatchDealMapper">
  <resultMap id="BaseResultMap" type="com.juzix.jungle.exchange.entity.MatchDeal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="active_order_no" jdbcType="VARCHAR" property="activeOrderNo" />
    <result column="passive_order_no" jdbcType="VARCHAR" property="passiveOrderNo" />
    <result column="base_coin" jdbcType="VARCHAR" property="baseCoin" />
    <result column="trade_coin" jdbcType="VARCHAR" property="tradeCoin" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="execution_volume" jdbcType="DECIMAL" property="executionVolume" />
    <result column="turnover" jdbcType="DECIMAL" property="turnover" />
    <result column="active_fee" jdbcType="DECIMAL" property="activeFee" />
    <result column="passive_fee" jdbcType="DECIMAL" property="passiveFee" />
    <result column="deal_time" jdbcType="TIMESTAMP" property="dealTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from match_deal
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzix.jungle.exchange.entity.MatchDeal">
    insert into match_deal (id, active_order_no, passive_order_no, 
      base_coin, trade_coin, price, 
      execution_volume, turnover, active_fee, 
      passive_fee, deal_time)
    values (#{id,jdbcType=INTEGER}, #{activeOrderNo,jdbcType=VARCHAR}, #{passiveOrderNo,jdbcType=VARCHAR}, 
      #{baseCoin,jdbcType=VARCHAR}, #{tradeCoin,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{executionVolume,jdbcType=DECIMAL}, #{turnover,jdbcType=DECIMAL}, #{activeFee,jdbcType=DECIMAL}, 
      #{passiveFee,jdbcType=DECIMAL}, #{dealTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juzix.jungle.exchange.entity.MatchDeal">
    update match_deal
    set active_order_no = #{activeOrderNo,jdbcType=VARCHAR},
      passive_order_no = #{passiveOrderNo,jdbcType=VARCHAR},
      base_coin = #{baseCoin,jdbcType=VARCHAR},
      trade_coin = #{tradeCoin,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      execution_volume = #{executionVolume,jdbcType=DECIMAL},
      turnover = #{turnover,jdbcType=DECIMAL},
      active_fee = #{activeFee,jdbcType=DECIMAL},
      passive_fee = #{passiveFee,jdbcType=DECIMAL},
      deal_time = #{dealTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, active_order_no, passive_order_no, base_coin, trade_coin, price, execution_volume, 
    turnover, active_fee, passive_fee, deal_time
    from match_deal
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, active_order_no, passive_order_no, base_coin, trade_coin, price, execution_volume, 
    turnover, active_fee, passive_fee, deal_time
    from match_deal
  </select>
</mapper>