<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzix.jungle.exchange.dao.TradeFeeHistoryMapper">
  <resultMap id="BaseResultMap" type="com.juzix.jungle.exchange.entity.TradeFeeHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="base_coin" jdbcType="VARCHAR" property="baseCoin" />
    <result column="trade_coin" jdbcType="VARCHAR" property="tradeCoin" />
    <result column="broker_fee" jdbcType="DECIMAL" property="brokerFee" />
    <result column="exchange_fee" jdbcType="DECIMAL" property="exchangeFee" />
    <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_fee_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzix.jungle.exchange.entity.TradeFeeHistory">
    insert into trade_fee_history (id, biz_code, base_coin, 
      trade_coin, broker_fee, exchange_fee, 
      effective_time, expire_time, create_time, 
      create_user_id, update_time, update_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{bizCode,jdbcType=VARCHAR}, #{baseCoin,jdbcType=VARCHAR}, 
      #{tradeCoin,jdbcType=VARCHAR}, #{brokerFee,jdbcType=DECIMAL}, #{exchangeFee,jdbcType=DECIMAL}, 
      #{effectiveTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juzix.jungle.exchange.entity.TradeFeeHistory">
    update trade_fee_history
    set biz_code = #{bizCode,jdbcType=VARCHAR},
      base_coin = #{baseCoin,jdbcType=VARCHAR},
      trade_coin = #{tradeCoin,jdbcType=VARCHAR},
      broker_fee = #{brokerFee,jdbcType=DECIMAL},
      exchange_fee = #{exchangeFee,jdbcType=DECIMAL},
      effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, biz_code, base_coin, trade_coin, broker_fee, exchange_fee, effective_time, 
    expire_time, create_time, create_user_id, update_time, update_user_id
    from trade_fee_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, base_coin, trade_coin, broker_fee, exchange_fee, effective_time, 
    expire_time, create_time, create_user_id, update_time, update_user_id
    from trade_fee_history
  </select>
</mapper>