<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juzix.jungle.exchange.dao.TradeZoneHistoryMapper">
  <resultMap id="BaseResultMap" type="com.juzix.jungle.exchange.entity.TradeZoneHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="base_coin" jdbcType="VARCHAR" property="baseCoin" />
    <result column="trade_coin" jdbcType="VARCHAR" property="tradeCoin" />
    <result column="op_type" jdbcType="VARCHAR" property="opType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trade_zone_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juzix.jungle.exchange.entity.TradeZoneHistory">
    insert into trade_zone_history (id, base_coin, trade_coin, 
      op_type, create_time, create_user_id
      )
    values (#{id,jdbcType=INTEGER}, #{baseCoin,jdbcType=VARCHAR}, #{tradeCoin,jdbcType=VARCHAR}, 
      #{opType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.juzix.jungle.exchange.entity.TradeZoneHistory">
    update trade_zone_history
    set base_coin = #{baseCoin,jdbcType=VARCHAR},
      trade_coin = #{tradeCoin,jdbcType=VARCHAR},
      op_type = #{opType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, base_coin, trade_coin, op_type, create_time, create_user_id
    from trade_zone_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, base_coin, trade_coin, op_type, create_time, create_user_id
    from trade_zone_history
  </select>
</mapper>